// bower:scss
@import "materialize/sass/materialize.scss";
// endbower

.landing {
  height: 100vh;
  overflow: hidden;

  .title {
    width: 100%;
    margin: 150px auto;
    text-align: center;
    font-size: 48px;
    font-family: Work Sans;
    color: #546E7A;
  }

  .links {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .stitch {
    color: #FF5722;
  }
}

a {
  display: inline;
  margin: 50px;
  color: #607D8B;
}

