<html>
<body>
	<div class="fixed-action-btn" style="top: 24px; left: 24px;">
		<a class="btn-floating btn-large deep-orange waves-effect waves-light" ng-href="#/">
			<i class="large material-icons">chevron_left</i>
		</a>
	</div>
	
	
	<div class="about-content">
		<div class="container">
	    <div class="row">

	      <div class="col s12 m4 l3"> 
	        <img class="responsive-img" src="http://lorempixel.com/400/400"></img>
	      </div>

	      <div class="col s12 m8 l9">
				  <div class="divider"></div>
				  <div class="section">
				    <h5>amazon</h5>
				    <h6>software development engineer intern</h6>
				    <p>may 2015 to august 2015</p>
				  </div>
				  <div class="divider"></div>
				  <div class="section">
				    <h5>university of california, berkeley</h5>
				    <h6>ba computer science, may 2017</h6>
				    <p>classes go here</p>
				  </div>
				  <div class="divider"></div>
				  <div class="section">
				    <h5>programming</h5>
				    <p>java, python, c, javascript, sql, scheme</p>
				  </div>
				  <div class="divider"></div>
				  <div class="section">
				    <h5>technologies</h5>
				    <p>hadoop, apache spark, amazon s3, amazon rds, aws elastic mapreduce, aws data pipeline, aws lambda, unix systems, openmp, git, xml, autodesk inventor</p>
				  </div>
				  <div class="divider"></div>
				  <div class="section">
				    <h5>web development</h5>
				    <p>html5, css, angularjs, jquery</p>
				  </div>

	      </div>

	    </div>
    </div>
	</div>
</body>
</html>